.movieCard {
    color: var(--text-primary);
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-card);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4),
        0 2px 4px rgba(0, 0, 0, 0.6);
}

.actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.movieCard img {
    max-width: 100%;
}

.movieCard p,
.movieCard img,
.movieCard h2 {
    margin-bottom: 1rem;
}

.movieCard svg {
    color: var(--star);
}

.movieCard a {
    background-color: var(--button);
    border: 2px solid var(--button);
    border-radius: 4px;
    color: var(--text-primary);
    padding: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
    font-weight: bold;
}

.movieCard a:hover {
    background-color: transparent;
}

.movieCard button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    background-color: transparent;
    border: 2px solid var(--border);
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    margin-top: 0.2rem;

    color: var(--text-primary);
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.movieCard button svg {
    font-size: 1.2rem;
}